.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: cursive;
    background: linear-gradient(#643a0e,#194264);
  }
  
  .stopwatch {
    width: 300px;
  }
  
  .display {
    text-align: center;
    margin-bottom: 10px;
  }
  
  #time {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: azure;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    padding: 10px 20px;
    margin-right: 5px;
  }
  
  #laps {
    list-style-type: none;
    padding: 0;
    color: aliceblue;
    font-size: 2rem;
    position: relative;
    left: 10px;
  }
  
  #laps li {
    margin-bottom: 5px;
  }
  
.btn{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    font-size: 1.3rem;
    padding: 5px;
    cursor: pointer;
    border: 2px solid whitesmoke;
    box-shadow: 0 0 5px 2px white;
    color: aliceblue;
}

.btn:hover{
    opacity: 0.8;
}

#lap{
    background-color: rgb(255, 166, 1);
}

#lap:active{
    background-color: rgb(235, 106, 0);
}

#start{
    background-color: green;
}

#reset{
    background-color: #194264;
}

#start:active{
    background-color: rgba(172, 255, 47, 0.652);
}

#reset:active{
    background-color: rgb(55, 97, 248);
}


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.663);
    display: flex;
}

.container{
    margin: auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;   
}

.timer{
    font-size: 76px;
    font-weight: lighter;
    color: #fff;
    width: 410px;
    margin-left: 20px;
}

.bottomPart{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.btns button{
    width: 80px;
    height: 80px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 50%;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 20px 30px 0px rgb(0,0,0,0,0.5);
}

.btns .toggle{
    transition: all 0.3s ease;
    background-color: #508052;
    z-index: 1;
}

.btns .toggle:active,
.btns .reset:active,
.btns .lap:active{
    transform: scale(0.9);
}

.btns .toggle.on{
    background-color: #d92027;
}

.btns .reset,
.btns .lap{
    transition: all 0.3s ease;
}

.lap_box{
    width: 200px;
    height: 200px;
    color: #fff;
    padding-left: 30px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lapItem{
    width: 120px;
    height: 30px;
} */




/* body{
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.laps{
    height: 300px;
    overflow: auto;
}

.text{
    color: white;
    font-size: 23px;
}
.minute{
    font-size: ;
} */